<ion-view view-title="忘记密码" hide-back-button="true" class="reset-password-view-container">
    <ion-nav-title>
        <div class="bar bar-header">
            <youren-back-button></youren-back-button>
            <h1 class="title">忘记密码</h1>
        </div>
    </ion-nav-title>
  <ion-content has-bouncing="false" class="reset-pwd has-header" delegate-handle="passwordScroll">
  	<div class="person-padding">
	    <div class="list">
	      <div class="item item-input one-px-border">
	        <span ng-class="{label:isNumberPromptShow}" class="input-label">手机号码</span>
	        <input type="tel" placeholder="手机号码（11位）" ng-click="onItemFocusClick($event)" ng-model="resetInfo.name" maxlength="11" ng-change="numberChange()">
	      </div>

	      <div class="item item-input one-px-border">
	        <span ng-class="{label:isTestPromptShow}" class="input-label">验证码</span>
	        <input type="text" placeholder="验证码" ng-click="onItemFocusClick($event)" ng-model="resetInfo.security_code" maxlength="16" ng-change="testChange()">
	        <button ng-disabled="!rightPhoneNum" ng-class="{true:'send-verifi',false:'send-verifi-a'}[rightPhoneNum]" ng-click="sendSecurityCode()" ng-if="!sendCodeAgain">发送验证码</button>
	        <button ng-disabled="isCounting" ng-class="{true:'send-verifi-a',false:'send-verifi'}[isCounting]" ng-click="sendSecurityCode()" ng-if="sendCodeAgain"><span ng-if="countdown <=0">再次发送</span> {{reSendCountdown()}}</button>
	      </div>
	      <div class="item item-input one-px-border">
	        <span ng-class="{label:isPasswordPromptShow}" class="input-label">新密码</span>
	        <input ontouchstart="return false" id="password" class="ios10-platform-reset-font-size" type="{{ isShowPwd['password'] ? 'text' : 'password' }}" ng-click="onItemFocusClick($event)" placeholder="新密码（6-16位）" maxlength="16" ng-model="resetInfo.password" ng-change="passwordChange()" ng-focus="passwordFocus()" ng-blur="passwordBlur()">
        	<i class="iconfont showPwd-btn" ng-class="{'icon-eyes':isShowPwd.password,'icon-eyesclosed':!isShowPwd.password,'pwdshow':isPwdIconShow}">
        	</i>
	      </div>
	      <div class="item item-input one-px-border">
	        <span ng-class="{label:isRepeatPromptShow}" class="input-label">确认新密码</span>
	        <input ontouchstart="return false" id="reinputPassword" class="ios10-platform-reset-font-size" type="{{isShowPwd['reinputPassword']? 'text' : 'password' }}" ng-click="onItemFocusClick($event)" placeholder="确认新密码（6-16位）" maxlength="16" ng-model="resetInfo.reinputPassword" ng-change="repeatChange()" ng-focus="passwordRepeatFocus()" ng-blur="passwordRepeatBlur()">
        	<i class="iconfont showPwd-btn" ng-class="{'icon-eyes':isShowPwd.reinputPassword,'icon-eyesclosed':!isShowPwd.reinputPassword,'pwdshow':isPwdRepeatIconShow}">
        	</i>
	      </div>
	    </div>
	</div>
    <div class="btn-padding">
	    <button class="button button-block button-assertive" ng-click="resetPassword()">
	      确认
	    </button>
    </div>
  </ion-content>
</ion-view>
