<ion-modal-view class="userInfo-choose-way-view-container">
    <div class="contain-top">
        <div class="camera one-px-border" ng-click="updateImg('camera')">
            <span>拍照或录像</span>
            <i class="icon iconfont icon-photography"></i>
        </div>
        <div class="photolibrary" ng-click="updateImg('photolibrary')">
            <span>照片图库</span>
            <i class="icon iconfont icon-gallery"></i>
        </div>
    </div>
    <div class="contain-bottom">
        <div class="cancle" ng-click="cancelChoose()">取消</div>
    </div>
</ion-modal-view>

