// Include variables sass
@import "www/css/sass/global";

.user-register-view-container .register-content{
    background-color: white;
}
.user-register-view-container .nav-bar-block .bar.bar-assertive {
    background-color: $black;
    color: $white;
}

.user-register-view-container .bar .title {
    height: px2rem(44px);
    line-height: px2rem(45px);
    font-size: 18px;
    color: $white;
}
.user-register-view-container .bar.bar-assertive div.title{
    color: $white;
    font-weight: 500;
}
.user-register-view-container .address-content{
    background-color: $white;
}

.user-register-view-container .item-input{
    padding: 0;
}

.user-register-view-container .person-padding{
    padding: px2rem(68px) px2rem(43px) 0 px2rem(43px);
}
.user-register-view-container .item{
    margin: 0;
    height: px2rem(60px);
    border: none;
    position: relative;
}
.user-register-view-container .item input{
    padding: 0;
    height: px2rem(20px);
    font-size: 16px;
    line-height: 100%;
    position: absolute;
    bottom: px2rem(8px);
    color: $black;
    padding-top: px2rem(15px);
    box-sizing: content-box;
}

.user-register-view-container .item input::-webkit-input-placeholder{
    font-size: 14px;
    line-height: normal;
}
.user-register-view-container .item input::-moz-placeholder{
    font-size: 14px;
    line-height: normal;
}
.user-register-view-container .item input:-ms-input-placeholder{
    font-size: 14px;
    line-height: normal; 
}

.user-register-view-container .item button{
    width: px2rem(70px);
    height: px2rem(22px);
    position: absolute;
    right: 0;
    bottom: px2rem(10px);
    background-color: $white;
    border-radius: px2rem(3px);
    font-size: 12px;
    padding: 0;
}

// 调整小屏iPhone发送验证码按钮内字体大小
@media only screen and (min-device-width : 320px) and (max-device-width : 568px){
    .user-register-view-container .item button{
        font-size: 10px;
    }
}

.user-register-view-container .item i{
    position: absolute;
    right: px2rem(5px);
    bottom: px2rem(5px);
    background-color: $white;
    padding: 0;
}

.user-register-view-container .send-verifi-a{
    border: 1px solid #b2b2b2;
    color: #808080;
}
.user-register-view-container .send-verifi{
    border: 1px solid #ff929f;
    color: $radical-red;
}

.user-register-view-container .input-label{
    position: absolute;
    top: px2rem(17px);
    font-size: 10px;
    line-height: px2rem(10px);
    color: $gray;
    opacity: 0;
    transform: translateY(px2rem(5px));
    transition: .5s;
}
.user-register-view-container .input-label{
    padding: 0;
}
.user-register-view-container .forget-pwd{
    position: absolute;
    padding: px2rem(10px) px2rem(10px) px2rem(12px) px2rem(10px);
    display: block;
    right: px2rem(0px);
    bottom: px2rem(0px);
    font-size: 12px;
    color: $radical-red;
    z-index: 100;
}
.user-register-view-container .button.button-block{
    margin: 0;
    border-radius: px2rem(3px);
    font-size: 16px;
}
.user-register-view-container .list{
    margin: 0 0 px2rem(68px) 0;
}
.user-register-view-container .login-register{
    text-align: center;
    font-size: 14px;
    line-height: px2rem(44px);
}
.user-register-view-container .button.button-assertive.activated{
    background: #4c4c4c;
}

.user-register-view-container .label{
    opacity: 1;
    transform: translateY(0);
}

.user-register-view-container .btn-padding{
    padding: 0 px2rem(33px);
}

.user-register-view-container .register-content .showPwd-btn{
    pointer-events: none;
    background-color: transparent;
    border: none;
    color: $gray;
    opacity: 0;
    transition: .4s;
    transition-property: opacity;
}

.user-register-view-container .register-content .person-padding .pwdshow{
    opacity: 1;
}






































