.base-icon-font {
    font-family:"iconfont" !important;
    font-size:29px;
    line-height:29px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0px;
    -moz-osx-font-smoothing: grayscale;
}

$icon-address:"\e600";
$icon-allorders:"\e601";
$icon-authenticated:"\e602";
$icon-category:"\e603";
$icon-contactus:"\e604";
$icon-coupon:"\e605";
$icon-delete:"\e606";
$icon-discovery:"\e607";
$icon-downarrow:"\e695";
$icon-dustbin:"\e609";
$icon-edit:"\e60a";
$icon-eyesclosed:"\e60b";
$icon-eyes:"\e60c";
$icon-gifts:"\e60d";
$icon-global:"\e60e";
$icon-help:"\e60f";
$icon-home:"\e610";
$icon-inbound:"\e611";
$icon-leftarrow:"\e612";
$icon-message:"\e613";
$icon-mine:"\e614";
$icon-minus:"\e615";
$icon-more:"\e616";
$icon-myfavorite:"\e617";
$icon-plusmini:"\e618";
$icon-plus:"\e619";
$icon-question:"\e61a";
$icon-refresh:"\e61b";
$icon-refund:"\e61c";
$icon-rightarrow:"\e61d";
$icon-search:"\e61e";
$icon-selected:"\e6ac";
$icon-setting:"\e620";
$icon-share:"\e621";
$icon-shoppingcartadd:"\e6af";
$icon-shoppingcartfull:"\e6b0";
$icon-shoppingcart:"\e624";
$icon-sortdown:"\e625";
$icon-sortup:"\e626";
$icon-speed:"\e627";
$icon-swap:"\e628";
$icon-tag:"\e629";
$icon-time:"\e62a";
$icon-tobedelivered:"\e62b";
$icon-tobepaid:"\e62c";
$icon-unselected:"\e6ba";
$icon-uparrow:"\e6bb";
$icon-up:"\e62f";
$icon-wallet:"\e630";
$icon-messageadd:"\e631";
$icon-application:"\e632";
$icon-check:"\e633";
$icon-failure:"\e634";
$icon-gallery:"\e635";
$icon-photography:"\e636";
$icon-success:"\e637";
$icon-live:"\e638";
$icon-play:"\e639";
$icon-scan:"\e63a";
$icon-stop:"\e63b";
