// color  name form http://www.htmlcsscolor.com/hex/ffffff
$white: #ffffff;
$white-smoke: #f2f2f2;
$whisper: #e5e5e5;
$gainsboro: #d9d9d9;
$pink-swan: #b2b2b2;
$gray: #808080;
$matterhorn: #4c4c4c;
$nero: #1a1a1a;
$black: #000;
$radical-red: #ff3344;
$dim-gray: #666;
$islamic-green: #09bb07;
// fontsize
$largest-font-size: 24px;
$larger-font-size: 22px;
$large-font-size: 18px;
$normal-font-size: 16px;
$small-font-size: 14px;
$smaller-font-size: 12px;
$smallest-font-size: 10px;

