@import "www/css/sass/global";
ion-content .scroll {
    height: 100%;
}

.empty-content-container {
    position: relative;
    padding-top: px2rem(111px);
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: $white;
    background-size: 100px;
    z-index: 50;
}

.empty-content-container .empty-image {
    margin: 0 auto;
    width: px2rem(166px);
    height: px2rem(166px);
    background-size: px2rem(166px);
    background-repeat: no-repeat;
    background-position:center;
}

.empty-content-container .empty-text {
    margin-top: px2rem(40px);
    height: px2rem(50px);
    background-size: auto 50px;
    background-repeat: no-repeat;
    background-position:center;
}

.empty-content-container .button{
    margin-top: px2rem(40px);
}

.cart-view-container .empty-content-container .empty-image {
    background-image: url('../../img/empty-content/empty-bags-image.png');
}

.cart-view-container .empty-content-container .empty-text {
    background-image: url('../../img/empty-content/empty-bags-text.png');
}

.search-result-view-container .empty-content-container .empty-image {
    background-image: url('../../img/empty-content/empty-search-image.png');
}

.search-result-view-container .empty-content-container .empty-text {
    background-image: url('../../img/empty-content/empty-search-text.png');
}

.message-view-container .empty-content-container .empty-image {
    background-image: url('../../img/empty-content/empty-messages-image.png');
}

.message-view-container .empty-content-container .empty-text {
    background-image: url('../../img/empty-content/empty-messages-text.png');
}

.coupon-view-container .empty-content-container  .empty-image {
    background-image: url('../../img/empty-content/empty-coupons-image.png');
}

.coupon-view-container .empty-used-content .empty-text {
    background-image: url('../../img/empty-content/empty-coupons-used-text.png');
}

.coupon-view-container .empty-unused-content .empty-text {
    background-image: url('../../img/empty-content/empty-coupons-unused-text.png');
}

.favorite-view-content .empty-content-container .empty-image {
    background-image: url('../../img/empty-content/empty-favorite-image.png');
}

.favorite-view-content .empty-content-container .empty-text {
    background-image: url('../../img/empty-content/empty-favorite-text.png');
}

.order-list-view-container .empty-content-container .empty-image {
    background-image: url('../../img/empty-content/empty-order-list-image.png');
}

.order-list-view-container .empty-content-container .empty-text {
    background-image: url('../../img/empty-content/empty-order-list-text.png');
}

.address-view-container .empty-content-container .empty-image {
    background-image: url('../../img/empty-content/empty-address-image.png');
}

.address-view-container .empty-content-container .empty-text {
    background-image: url('../../img/empty-content/empty-address-text.png');
}

.address-choose-view-container .empty-content-container .empty-image {
    background-image: url('../../img/empty-content/empty-address-image.png');
}

.address-choose-view-container .empty-content-container .empty-text {
    background-image: url('../../img/empty-content/empty-address-text.png');
}

.category-detail-view-container .empty-content-container .empty-image {
    background-image: url('../../img/empty-content/empty-search-image.png');
}

.category-detail-view-container .empty-content-container .empty-text {
    background-image: url('../../img/empty-content/empty-category-text.png');
}
