@import "www/css/sass/global";

.one-px-border {
    border: none !important;
    background: -webkit-linear-gradient(0, $whisper, $whisper 50%, transparent 50%) bottom right / 100% 1px no-repeat;
    background: -o-linear-gradient(0, $whisper, $whisper 50%, transparent 50%) bottom right / 100% 1px no-repeat;
    background: linear-gradient(0, $whisper, $whisper 50%, transparent 50%) bottom right / 100% 1px no-repeat;
}

.one-px-border.top-border {
    background: -webkit-linear-gradient($whisper, $whisper 50%, transparent 50%) top left / 100% 1px no-repeat;
    background: -o-linear-gradient($whisper, $whisper 50%, transparent 50%) top left / 100% 1px no-repeat;
    background: linear-gradient($whisper, $whisper 50%, transparent 50%) top left / 100% 1px no-repeat;
}

.one-px-border.left-border {
    background: -webkit-linear-gradient(left, $whisper, $whisper 50%, transparent 50%) bottom left  / 1px 100% no-repeat;
    background: -o-linear-gradient(left, $whisper, $whisper 50%, transparent 50%) bottom left  / 1px 100% no-repeat;
    background: linear-gradient(to right, $whisper, $whisper 50%, transparent 50%) bottom left  / 1px 100% no-repeat;
}

.one-px-border.right-border {
      background:  -webkit-linear-gradient(left, $whisper, $whisper 50%, transparent 50%) top right / 1px 100% no-repeat,;
      background:  -o-linear-gradient(left, $whisper, $whisper 50%, transparent 50%) top right / 1px 100% no-repeat,;
      background:  linear-gradient(to right, $whisper, $whisper 50%, transparent 50%) top right / 1px 100% no-repeat,;
}

.one-px-border.all-sides {
    background: -webkit-linear-gradient($whisper, $whisper 50%, transparent 50%) top left / 100% 1px no-repeat,
                -webkit-linear-gradient(left, $whisper, $whisper 50%, transparent 50%) top right / 1px 100% no-repeat,
                -webkit-linear-gradient(0, $whisper, $whisper 50%, transparent 50%) bottom right / 100% 1px no-repeat,
                -webkit-linear-gradient(left, $whisper, $whisper 50%, transparent 50%);
    background: -o-linear-gradient($whisper, $whisper 50%, transparent 50%) top left / 100% 1px no-repeat,
                -o-linear-gradient(left, $whisper, $whisper 50%, transparent 50%) top right / 1px 100% no-repeat,
                -o-linear-gradient(0, $whisper, $whisper 50%, transparent 50%) bottom right / 100% 1px no-repeat,
                -o-linear-gradient(left, $whisper, $whisper 50%, transparent 50%);
    background: linear-gradient($whisper, $whisper 50%, transparent 50%) top left / 100% 1px no-repeat,
                linear-gradient(to right, $whisper, $whisper 50%, transparent 50%) top right / 1px 100% no-repeat,
                linear-gradient(0, $whisper, $whisper 50%, transparent 50%) bottom right / 100% 1px no-repeat,
                linear-gradient(to right, $whisper, $whisper 50%, transparent 50%) bottom left  / 1px 100% no-repeat;
}
